@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFE501;
    color: #5C3D98;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    gap: 40px;
}

h1 {
    font-size: 3rem;
}

.countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.big-text {
    font-size: 5rem;
    line-height: 1;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px){
    h1 {
        font-size: 1.2rem;
    }

    .countdown-container {
        gap: 1rem;
    }

    .big-text {
        font-size: 2.5rem;
    }
    .countdown-el span {
        font-size: 0.8rem;
    }

    .img-back{
        width: 100vw;
    }
    
    .img-back img{
        text-align: center#5C3D98;
        width: 90%;
    }
    
}

@media only screen and (max-width: 900px) and (min-width:600px){

    h1 {
        font-size: 2rem;
    }

    .countdown-container {
        gap: 1.5rem;
    }

    .big-text {
        font-size: 4rem;
    }
    .countdown-el span {
        font-size: 1.2rem;
    }

    
}